.lenker {
    display:flex;
    background-color: rgb(204, 212, 224);
    width:100%;
    justify-content:space-evenly;
    gap:1em;
    padding:1em;
    margin:0;
    list-style-type:none;
    border:1px solid #4e4e4e;
}

.lenker li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#141c0d;
    text-decoration: none;
    font-style: bold;
    font-size:x-large;          
}

.lenker li a:hover {
    color: rgb(37, 38, 42);
}

.globalnav {
    position: relative;
    z-index: 1000;
}